* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(200, 221, 228) !important;
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    color: blanchedalmond;
    background-image: linear-gradient(to right, red, yellow);
    padding: 10px;
}

.app-body {
    display: flex;
    margin: 15px;
}

.aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding: 5px;

}

.aside p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.aside input {
    border-radius: 5px;
}

.aside-button {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.aside ul {
    list-style-type: none;
    padding: 0;
}

#below-cities {
    display: none;
    flex-direction: column;
}

#below-cities ul {
    list-style-type: none;
    padding: 0;
}


#toggle-units {
    display: flex;
    margin-bottom: 10px;
}

.toggle-button-left {
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.toggle-button-right {
    width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.toggle-active {
    background-color: #3a7bd5;
    color: black;
}


.border-to-button {
    border-top: black dotted;
    margin-top: 15px;
}

.recall-city-button {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}

.recall-city-button {
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: lightblue;
    display: block;
}

.recall-city-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


#weather-results {
    width: 75%;
}

#weather-info-header{
    display: inline;
}

.dotted-border {
    border: black dotted;
}


#forecast-cards-container {
    display: flex;
    justify-content: space-evenly;
}

.forecast-card {
    width: 18%;
    background-color: #3a7bd5;
    color: white;
    font-size: 12px;
}

.colss {
    border: solid black 2px;
}


@media screen and (max-width: 768px) {
    #forecast-cards-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .forecast-card {
        margin-top: 15px;
        width: 150px;
    }

    .app-body {
        flex-direction: column;
    }

    .aside {
        width: 100%;
    }

    #weather-results {
        width: 100%;
        text-align: center;
    }

    .aside ul {
        display: none;
    }

    #below-cities {
        display: flex;
    }
}